{namespace <%= soyBlockProvide %>}

/**
 * @typedef {{
 * }} <%= soyBlockProvide %>.Params.Data
 */

/**
 * Template for <%= blockDescriptionName %> block
 * @param params {{
 *     data: <%= soyBlockProvide %>.Params.Data
 * }}
 * @constructor
 * @extends cl.iControl.Template
 */
{template .<%= soyConstructorTemplateName %>}
    {call .init data="all" /}
{/template}

/**
 * @override
 */
{template .rootClass}
    <%= name %>
{/template}

/**
 * @override
 */
{template .body}

{/template}

